<!DOCTYPE html>
<html>
<head>
	<title>Search Results</title>
	<link rel="stylesheet" type="text/css" href="/css/hostelsShow.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Concert+One|Roboto|Spectral|Yatra+One|Rubik|Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel = "icon" href = "/logo/logo.jpg" type = "image/x-icon"> 
	<link rel="stylesheet" type="text/css" href="/css/utils.css">
	<meta name="theme-color" content="#000">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
</head>
<body>
<h2 class="font-monty"><span class="font-size-18"><%= count %> Hostels Found Nearby</span> <%=collegeName%></h2>
<div class="hostels_container">
	<%  hostels.forEach(function(hostel){ %>
		<div class="hostel round ">
		<div class="hostel_image">
			<a href="/hostel/<%= hostel._id %>"><img src="/uploads/<%= hostel.images[0]%>"></a>
		</div>
		<div class="hostel_details">
			<a href="/hostel/<%= hostel._id %>">
				<div class="hostel_type font-size-14 font-monty"><%=hostel.hostelType%> HOSTEL</div>
				<div class="hostel_name font-roboto padding-5"><%=hostel.name%></div>
				<div class="starting_price font-roboto"><span>Starting from &#8377;
					<% var min = undefined %>
					<% for(var key in hostel.prices) { 
						if(hostel.prices[key]!=null){
							if(min===undefined) {
							min = hostel.prices[key];
							}
						else {
							if (hostel.prices[key] < min) {
							min = hostel.prices[key];
							}
						}
					}
						} %>
				<%=min%>/year</span></div>
			</a>
		</div>

		<div class="buy_now">
			<a href="/hostel/<%= hostel._id %>" class="font-roboto padding-5">Explore more&nbsp;</a>
		</div>
	</div>
	<% }) %>
	
</div>
</body>
</html>